# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional)
#.vscode/
web/
# Flutter / Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
/build/
/coverage/

# Flutter symbols / obfuscation
app.*.symbols
app.*.map.json

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Firebase (IMPORTANT)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
firebase.json
.firebaserc
.firebase/
